@font-face {
  font-family: 'Oxygen';
  font-style: normal;
  font-weight: 300;
  src: local('Oxygen Light'), local('Oxygen-Light'), url(fonts/oxygenLight.woff) format('woff');
}
@font-face {
  font-family: 'Oxygen';
  font-style: normal;
  font-weight: 400;
  src: local('Oxygen'), local('Oxygen-Regular'), url(fonts/oxygenRegular.woff) format('woff');
}
@font-face {
  font-family: 'Oxygen';
  font-style: normal;
  font-weight: 700;
  src: local('Oxygen Bold'), local('Oxygen-Bold'), url(fonts/oxygenBold.woff) format('woff');
}

html {
	height:100%;
}

body {
	height:100%;
	background-color:white;
	font-family:'Oxygen', sans-serif;
}

#container, #note, #credit {
	width:400px;
	margin:0 auto;
}

#container {
	position:relative;
	overflow:hidden;
	padding:20px 0;
	background-color:white;
	border-bottom:1px solid #aaa;
}

h1, h2 {
	margin-top:0;
}

h1 {
	font-size:22px;
	border-bottom: 1px solid #aaa;
	padding-bottom:10px;
	width:100%;
}

h2 {
	font-size:16px;
	font-weight:bold;
	margin-bottom:0;
}

h3 {
	font-size:14px;
	color:#777;
	margin-bottom:5px;
}

h4 {
}

form {
	margin:0 auto;
}

label, input {
	display:inline-block;
	margin-bottom:15px;
}

label {
	width:60px;
}

ul {
	list-style-type:none;
}

#default {
	font-size:15px;
	margin:0;
}
#sub{
	margin-left:66px;
}

#credit {
	font-size:14px;
	margin-top:10px;
}


#monitor {
	position:relative;
	width:100%;
	height:160px;
	/*border width altered by javascript options.js*/
	border-width: 1px;
	border-style: solid;
	border-color: rgb(161, 163, 162);
	border-bottom-width:20px;
	border-radius:10px;
}

#screen {
	height:100%;
	width:100%;
}

.window {
	position:absolute;
	width:49%;
	height:95%;
	top:0;
}

#original {
	left:0;
}

#new {
	left:50%;
}

#icon {
	position:absolute;
	background-color:white;
	opacity:0.65;
	margin:0 auto;
	bottom:-15px;
	margin-left:50%;
	left:-5px;
	border-radius:10px;
	border:5px solid white;

}
