@font-face {
  font-family: 'Oxygen';
  font-style: normal;
  font-weight: 300;
  src: local('Oxygen Light'), local('Oxygen-Light'), url(fonts/oxygenLight.woff) format('woff');
}
@font-face {
  font-family: 'Oxygen';
  font-style: normal;
  font-weight: 400;
  src: local('Oxygen'), local('Oxygen-Regular'), url(fonts/oxygenRegular.woff) format('woff');
}
@font-face {
  font-family: 'Oxygen';
  font-style: normal;
  font-weight: 700;
  src: local('Oxygen Bold'), local('Oxygen-Bold'), url(fonts/oxygenBold.woff) format('woff');
}

html {
	height: 100%;
}

body {
	height: 100%;
	background-color: white;
	font-family:'Oxygen', sans-serif;
}

#container, #note, #credit, #optcheckbox {
	width: 408px;
	margin: 0 auto;
}

#container {
	position: relative;
	overflow: hidden;
	padding: 20px 0;
	background-color: white;
	border-bottom: 1px solid #aaa;
}

h1, h2 {
	margin-top: 0;
}

h1 {
	font-size: 22px;
	border-bottom: 1px solid #aaa;
	padding-bottom: 10px;
	width: 100%;
}

h2, h4 {
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 0;
}

h3 {
	font-size: 14px;
	color:#777;
	margin-bottom: 5px;
}

form {
	margin: 0 auto;
	overflow: auto;
	width: 100%;
	display:none;
}

.options-section {
	width:50%;
	float:left;
	margin:0 auto;
}

.options-section:last-child {
	clear:right;
}

label, input {
	display: inline-block;
	margin-bottom: 15px;
}

label {
	width: 60px;
}

ul {
	list-style-type: none;
}

#shortcut {
	font-size: 18px;
	margin-top: 0px;
	margin-bottom: 8px;
}

#sub {
	/*display:none;*/
}

#credit {
	font-size: 14px;
	margin-top: 10px;
}

#optcheckbox {
	/* TODO: learn css :) */
	font-size: 14px;
	font-weight: bold;
	margin-top: 20px;
	width: 37%;
}

#monitor, .inner-window {

}

#monitor {
	position: relative;
	width: 400px;
	height: 160px;
	border: 4px solid rgb(161, 163, 162);
	border-bottom-width: 20px;
	border-radius: 10px;
}

#screen {
	height: 100%;
	width: 100%;
	background-image: -webkit-repeating-linear-gradient(0deg, #6E6E6E, #6E6E6E 2px, transparent 2px, transparent 25%), -webkit-repeating-linear-gradient(-90deg, #6E6E6E, #6E6E6E 2px, transparent 2px, transparent 25%);
}

.window {
	position: absolute;
	width: 200px;
	height: 50%;
	top: 0;
	opacity: 0.925;
	border: 0;
}

.inner-window {
	width: 100%;
	height: 100%;
	border:1px solid rgb(200, 200, 200);
	border-top-width:10px;
	border-radius:3px;
}

.button {
	display: inline-block;
	border-radius: 5px;
	border: 3px solid;
	position: absolute;
	top:2px;
}

.button.red {
	border-color: rgb(203, 53, 54);
	left:2px;
}

.button.yellow {
	border-color: rgb(255, 255, 86);
	left:12px;
}

.button.green {
	border-color: rgb(80, 180, 80);
	left:22px;
}

#original {
	left: 0;
}

#new {
	left: 50%;
}

#icon {
	position: absolute;
	background-color: white;
	opacity: 0.65;
	margin: 0 auto;
	bottom:-15px;
	margin-left: 50%;
	left:-5px;
	border-radius: 10px;
	border: 5px solid white;
}


#resize-note {
	font-size:12px;
	margin:5px 0 0;
}
