html {
	height:100%;
}

body {
	height:100%;
	background-color:white;
	font-family:'Oxygen', sans-serif;
}

#container, #note, #credit {
	width:400px;
	margin:0 auto;
}

#container {
	position:relative;
	overflow:hidden;
	padding:20px 0;
	background-color:white;
	border-bottom:1px solid #aaa;
}

h1, h2 {
	margin-top:0;
}

h1 {
	font-size:22px;
	border-bottom: 1px solid #aaa;
	padding-bottom:10px;
	width:100%;
}

h2 {
	font-size:16px;
	font-weight:bold;
	margin-bottom:0;
}

h3 {
	font-size:14px;
	color:#777;
	margin-bottom:5px;
}

h4 {
}

form {
	margin:0 auto;
}

label, input {
	display:inline-block;
	margin-bottom:15px;
}

label {
	width:60px;
}

ul {
	list-style-type:none;
}

#default {
	font-size:15px;
	margin:0;
}
#sub{
	margin-left:66px;
}

#credit {
	font-size:14px;
	margin-top:10px;
}